<!-- recover.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    {% load i18n %}
    <meta charset="UTF-8">
    <title>{% trans "Recuperar contraseña" %}</title>
    <link rel="stylesheet" href="{% static '/scripts/styles.css' %}">
    <script src="{% static '/scripts/script.js' %}"></script>
</head>
<body class="recover-body">
    {% include 'partials/header.html' %}
    
    <div class="recover-container">
        <aside class="recover-aside">
            <img src="{% static 'assets/background.jpg' %}" alt="{% trans 'Imagen de bienvenida' %}">
        </aside>

        <main class="recover-main">
            <div class="recover-box">
                <img src="{% static 'assets/logo_size-noText.png' %}" alt="{% trans 'Logo Djangify' %}" class="noTextLogo">
                <h1>{% trans "Restablecer contraseña" %}</h1>

                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    <label>{% trans "Nueva contraseña:" %}</label><br>
                    <input type="password" name="password" required><br>

                    <label>{% trans "Confirmar contraseña:" %}</label><br>
                    <input type="password" name="confirm" required><br>

                    <button type="submit">{% trans "Guardar contraseña" %}</button>
                </form>
            </div>
        </main>
    </div>

    {% include 'partials/footer.html' %}
</body>
</html>
